.form{
    &__group{
    //   display: flex;
    //   flex-direction: column;
        
    }
    &__input{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        background-color: rgba($color-white,0.5);
        border-radius: 2px;
        border: none;
        width: 95%;
        border-bottom: 3px solid transparent;
        transition: all .3s;

        //form input element does not inherit font-family and color implicitly
        font-family: inherit;
        color: inherit;

        &:focus{
            outline: none;
            border-bottom: 3px solid $color-primary-lighter;
            box-shadow: 0 1rem 2rem rgba($color-black,0.5)
        }
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
        &:-webkit-input-placeholder{
            color: $color-dark-grey-2;
        }

        @include respond(tab-port){
            width: 100%;
        }
    }
    &__label{
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        transition: all .3s;
    }

    //selecting immediate direct sibling by + symbol,we can use ~ symbol for the same purpose
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden; //visibility can not be animated,so opacity is also used
        transform: translateY(-3rem);
    }

    // RADIO_BUTTON
    &__radio-group{
        display:inline;
        
        &:first-child{
            float: left;
        }

        @include respond(tab-port){
            margin-bottom: 2rem;
        }
        
    }
    
    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 3rem;
    }
    &__radio-button{
        height: 2rem;
        width: 2rem;
        border: 3px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 0;
        top:.5rem;
        margin-right: 2px;
        transition: all .2s;

        &::after{
            content: " ";
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
        }
    }
    &__radio-input{
        display: none;
    }
    // selecting immediate sibling's child
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }

}