*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit
}
html{
    /*Browser's default font-size is 16px.
    But need 10px for this project.
    So, set the font-size 10/16=.625 or 62.5% */
    font-size: 62.5%;

}
body{

    box-sizing: border-box;

}